link:
  hostname: irc.domain.tld
  port: 7000
  password_receive: password
  password_send: password
  sid: RS0
  protocol: ts6
  description: Ruby IRC Services
  reconnect_delay: 5
  ssl: false

rubyserv:
  nickname: RubyServ
  realname: Ruby IRC Services
  hostname: rubyservices.int
  username: RubyServ
  channel: '#services'
  prefix: '!'

web:
  enabled: false
  port: 1234
